<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="./dist/css/reset.css">
    <link rel="stylesheet" href="./dist/css/bootstrap/css/bootstrap.rtl.min.css">
    <link rel="stylesheet" href="./dist/css/style.css">
    <link rel="stylesheet" href="./dist/css/animate.min.css">
</head>

<body ng-app="Dashboard" ng-controller="Dashboard">
        <!-- ------------------------------ header ----------------------------- -->
        <!-- header of md -->
        <div class="col-3 d-none d-lg-inline col-md-4 col-lg-3 flex-row-reverse menu"id="menu" style="">

            <div class="col-12 d-flex align-items-center justify-content-center flex-column mt-5">
                <img class="my-auto m-5 p-2 img_logo" src="./dist/image/icon/Close Circle.svg" alt="">
                <p class="col-12 d-flex align-items-center justify-content-center m-0 mt-2 titel_sub_menu">سـامـانـه
                    خـدمـاتـی هـمــیـار</p>
                    <img src="./dist/image/Group 127.svg" class="position-absolute start-0 marker_menu" style="top: 8.1rem;" id="marker_menu">

                <div class="mt-2 position-relative">
                    <a href="#!dashboard" ng-click="change_menu([{url:'#!dashboard'},{size:'8.1'}])">
                        <button
                            class="opinion_1  button_menu bg-transparent position-relative border-0  tx_black d-flex justify-content-end align-items-end">
                            داشبورد
                            <img id="note-button" src="./dist/image/icon/note.svg" height=30 width=30>
                        </button>
                </div>
                <div class="mt-2 position-relative">
                    <a href="#!apps" ng-click="change_menu([{url:'#!apps'},{size:'11.6'}])">
                        <button
                            class="opinion_1 button_menu bg-transparent position-relative border-0  tx_black d-flex justify-content-end align-items-end">
                            برنامه ها
                            <img id="note-button" src="./dist/image/icon/User Interface/vuesax/outline/clipboard-text.svg"
                                height=30 width=30>
                        </button>
                    </a>
                </div>
                <div class="mt-2 position-relative">
                    <a href="#!setting" ng-click="change_menu([{url:'#!setting'},{size:'14.9'}])">
                        <button
                            class="opinion_1 button_menu bg-transparent position-relative border-0  tx_black d-flex justify-content-end align-items-end">
                            تنظیمات
                            <img id="note-button" src="./dist/image/icon/User Interface/vuesax/outline/setting-2.svg"
                                height=30 width=30>
                        </button>
                    </a>
                </div>
                <div class="mt-2 position-relative">
                    <a href="#!guid" ng-click="change_menu([{url:'#!guid'},{size:'18.5'}])">
                        <button
                            class="opinion_1 button_menu bg-transparent position-relative border-0  tx_black d-flex justify-content-end align-items-end">
                            راهنمای سایت
                            <img id="note-button" src="./dist/image/icon/User Interface/vuesax/outline/info-circle.svg"
                                height=30 width=30>
                        </button>
                    </a>
                </div>
                <div class="mt-2 position-relative">
                    <a ng-click="logout()">
                        <button
                            class="opinion_1 button_menu bg-transparent position-relative border-0  tx_black d-flex justify-content-end align-items-end">
                            خروج از حساب کاربری
                            <img id="note-button" src="./dist/image/icon/User Interface/vuesax/outline/info-circle.svg"
                                height=30 width=30>
                        </button>
                    </a>
                </div>
            </div>

        </div>
    <div class="d-flex col-12 col-lg-9 flex-sm-row-reverse"  >


        <!-- d-flex justify-content-around flex-column flex-md-row -->
        <!-- header of sm -->

        <div class="col-12 col-md-12 col-lg-12 p-4 container header_leftbar">

            <!-- header of opinion -->
            <div class="col-12  header_opinion">
                <div class="d-flex mb-4 p-0  p-md-0 justify-content-between align-items-center">
                    <div class="d-flex me-0 me-lg-2">
                        <div class="div_logo gray me-1 ms-lg-2">
                            <img src="./dist/image/profile2.png" class="rounded-circle" style="width: 2rem;height: 2rem;"alt="Avatar" />
                        </div>
                        <span class="m-2 d-md-flex d-flex align-items-center justify-content-center name_header">{{username_header}}</span>
                    </div>
                    <div class="d-inline d-lg-none" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">
                        <img src="./dist/image/icon/menu.svg" style="width: 2.5rem;" alt="">
                    </div>

                    <div class="offcanvas offcanvas-start " data-bs-scroll="false" tabindex="-1"
                        id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
                        <div class="offcanvas-header">
                            <div class="col-12 d-flex flex-row" >
                                <img src="./dist/image/icon/close-circle.svg"id="close-menu"  style="width: 2.5rem;" type="button"
                                    data-bs-dismiss="offcanvas" aria-label="Close" alt="">
                            </div>
                        </div>
                        <div class="offcanvas-body overflow-hidden">
                            <div class="col-12 d-flex justify-content-center align-items-center flex-column ">
                                <img class=" col-12 my-auto d-flex align-items-center img_logo"
                                    src="./dist/image/icon/Close Circle.svg" alt="">
                                <p
                                    class="col-12 d-flex align-items-center justify-content-center m-0 mt-2 titel_sub_menu">
                                    سـامـانـه خـدمـاتـی هـمــیـار</p>

                            </div>

                            <div class="col-12 d-flex align-items-center justify-content-center flex-column mt-5">
                                    <img src="./dist/image/Group 127.svg" class="position-absolute start-0 marker_menu" style="top: 14.8rem;" id="marker2_menu">
                                <div class=" position-relative">
                                    <a href="" ng-click="change_menu([{url:'#!dashboard'},{size:'12.5'}])">
                                        <button
                                            class="opinion_1 button_menu bg-transparent position-relative border-0  tx_black d-flex justify-content-end ">
                                            داشبورد
                                            <img id="note-button" src="./dist/image/icon/note.svg" height=30 width=30>
                                        </button>
                                    </a>
                                </div>
                                <div class="mt-4 position-relative">
                                    <a   ng-click="change_menu([{url:'#!apps'},{size:'17'}])">
                                    <button
                                        class="opinion_1 button_menu bg-transparent position-relative border-0  tx_black d-flex justify-content-end ">
                                        برنامه ها
                                        <img id="note-button"
                                            src="./dist/image/icon/User Interface/vuesax/outline/clipboard-text.svg"
                                            height=30 width=30>
                                    </button>
                                </a>
                                </div>
                                <div class="mt-4 position-relative">
                                    <a  ng-click="change_menu([{url:'#!setting'},{size:'21.6'}])">
                                    <button
                                        class="opinion_1 button_menu bg-transparent position-relative border-0  tx_black d-flex justify-content-end ">
                                        تنظیمات
                                        <img id="note-button"
                                            src="./dist/image/icon/User Interface/vuesax/outline/setting-2.svg"
                                            height=30 width=30>
                                    </button>
                                </a>
                                </div>
                                <div class="mt-4 position-relative">
                                    <a ng-click="change_menu([{url:'#!guid'},{size:'26.2'}])">
                                        <button
                                            class="opinion_1 button_menu bg-transparent position-relative border-0  tx_black d-flex justify-content-end ">
                                            راهنمای سایت
                                            <img id="note-button"
                                                src="./dist/image/icon/User Interface/vuesax/outline/info-circle.svg"
                                                height=30 width=30>
                                        </button>
                                    </a>
                                </div>
                                <div class="mt-4 position-relative">
                                    <a ng-click="logout()">
                                        <button
                                            class="opinion_1 button_menu w-100 bg-transparent position-relative border-0 col-10  tx_black d-flex justify-content-end ">
خروج از حساب کاربری
                                            <img id="note-button"
                                                src="./dist/image/icon/User Interface/vuesax/outline/info-circle.svg"
                                                height=30 width=30>
                                        </button>
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-view class="col-12">

            </div>
        
        </div>
    </div>




</body>
<script src="./dist/js/Scripts/angular.js"></script>
<script src="./dist/js/Scripts/angular-route.js"></script>
<script src="./dist/js/Script.js"></script>
<script src="./dist/js/dashbord_clock.js"></script>
<script src="./dist/css/materail_ripley.js"></script>
<script src="./dist/css/bootstrap/js/bootstrap.bundle.min.js"></script>
<script>
    if(localStorage.getItem('been') == 'true'){

    }
    else{
        location.href = './index.html';
    }
</script>
</html>