<style>
    @media only screen and (min-width: 768px) {
      .header_opinion{
          position: relative;
          right: 1.5vw;
      }
  }
  @media only screen and (min-width: 990px) {
      .header_opinion{
          position: relative;
      }
  }
  @media only screen and (min-width: 1024px) {
      .header_opinion{
          position: relative;
          right:0.9vw;
      }
  }
  .header_leftbar{
      padding: 0 2.5rem !important;
      padding-top: 1.5rem !important;
  }
  /* body{
    height: 200vh;
  } */
  </style>
       <!-- Section left code -->
       <div ng-app="dashboard_app" ng-contorller="dashboardapp">
        
          <div class="row position-relative" id="card_box">
              <div class=" grid_dahsboard_app p-2 p-sm-3 p-md-4 p-lg-0" >
  
                  <div class="card mb-1 p-1 me-lg-3" ng-repeat="data in message track by $index"  >
                      <div class="card-body">
                        <div class="card-title m-0 p-0 align-items-baseline d-flex justify-content-between flex-row-reverse">
                          <p class="d-flex"><span dir="rtl" class="p-1" style="font-size: 0.8rem;">{{data.name}}</span>:نام برنامه</p>
                          <div ng-click="delete_plan(data.id)">
                              <img src="./dist/image/icon/trash.svg"  class="trash m-1" alt="">
                          </div>
                        </div>
                    <div data-bs-toggle="offcanvas" ng-click="get_program(data.id)" data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom">
                        <div class="col-12 p-2 d-flex justify-content-between flex-row-reverse align-items-center box_card_subject">
                          <div class="d-flex justify-content-center align-items-center flex-row-reverse">
                              <p class="d-inline m-0"> :موضوع آموزش
                                  <p class="d-inline m-0">{{data.subject}}</p>
                              </p>
                          </div>
                          <div class="" style="width: 8%;">
                              <img ng-src="./dist/image/{{data.subject}}.png" class="" style="max-width: 100%;" alt="">
                          </div>
                        </div>
                        <div class="col-12 mt-1  p-1 d-flex justify-content-between flex-row-reverse">
                          <p class="p-0 m-0 progress_title">درجه سختی</p>
                          <div class="progress col-8 mt-1">
                              <div id="progress" class="progress-bar" role="progressbar " ng-style="{width : {{data.level}} + '%' , background : ' {{data.color}} ' }" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                      </div>
                    </div>
                   
                      <a href="#!select_app" class="col-12 justify-content-center px-5  px-md-0 me-lg-3 justify-content-md-start start-0  box_add_app" id="box_add_app">
                            <div class="add_app col-12 col-sm-9 m-auto m-md-0 col-md-5 col-lg-3 my-2 my-md d-flex flex-row-reverse justify-content-center p-2 p-lg-0 mt-5 align-items-center" id="add_app">
                              <img src="./dist/image/icon/add-circle.svg" alt="">
                              <p class="m-0">اضافه کردن برنامه جدید</p>
                            </div>
                      </a>
                </div>
                 
               </div> 
               <div class="offcanvas offcanvas-bottom h-100" data-bs-scroll="false" tabindex="-1" tabindex="-1" id="offcanvasBottom" aria-labelledby="offcanvasBottomLabel">
                 <div class="offcanvas-header px-5 pe-md-3 d-flex flex-column-reverse  flex-md-row-reverse">
                  <div class="fs-6 mt-3 mt-md-0 d-flex flex-row-reverse col-12 col-md-5">
                    <div class="d-flex align-items-center flex-row-reverse">
                      <svg xmlns="http://www.w3.org/2000/svg" width="32" height="33" viewBox="0 0 32 33" fill="none">
                          <g id="vuesax/outline/clipboard-text">
                              <g id="vuesax/outline/clipboard-text_2">
                                  <g id="clipboard-text">
                                      <path id="Vector"
                                          d="M19.9998 17.7667H10.6665C10.1198 17.7667 9.6665 17.3133 9.6665 16.7667C9.6665 16.22 10.1198 15.7667 10.6665 15.7667H19.9998C20.5465 15.7667 20.9998 16.22 20.9998 16.7667C20.9998 17.3133 20.5465 17.7667 19.9998 17.7667Z"
                                          fill="#1E232C" />
                                      <path id="Vector_2"
                                          d="M16.5065 23.1H10.6665C10.1198 23.1 9.6665 22.6467 9.6665 22.1C9.6665 21.5533 10.1198 21.1 10.6665 21.1H16.5065C17.0532 21.1 17.5065 21.5533 17.5065 22.1C17.5065 22.6467 17.0532 23.1 16.5065 23.1Z"
                                          fill="#1E232C" />
                                      <path id="Vector_3"
                                          d="M18.6665 9.49999H13.3332C12.0532 9.49999 9.6665 9.49999 9.6665 5.83332C9.6665 2.16666 12.0532 2.16666 13.3332 2.16666H18.6665C19.9465 2.16666 22.3332 2.16666 22.3332 5.83332C22.3332 7.11332 22.3332 9.49999 18.6665 9.49999ZM13.3332 4.16666C12.0132 4.16666 11.6665 4.16666 11.6665 5.83332C11.6665 7.49999 12.0132 7.49999 13.3332 7.49999H18.6665C20.3332 7.49999 20.3332 7.15332 20.3332 5.83332C20.3332 4.16666 19.9865 4.16666 18.6665 4.16666H13.3332Z"
                                          fill="#1E232C" />
                                      <path id="Vector_4"
                                          d="M20 30.8333H12C4.50667 30.8333 3 27.3933 3 21.8333V13.8333C3 7.75334 5.2 5.15334 10.6133 4.87334C11.1467 4.84668 11.64 5.26001 11.6667 5.82001C11.6933 6.38001 11.2667 6.83334 10.72 6.86001C6.93333 7.07334 5 8.20668 5 13.8333V21.8333C5 26.7667 5.97333 28.8333 12 28.8333H20C26.0267 28.8333 27 26.7667 27 21.8333V13.8333C27 8.20668 25.0667 7.07334 21.28 6.86001C20.7333 6.83334 20.3067 6.35334 20.3333 5.80668C20.36 5.26001 20.84 4.83334 21.3867 4.86001C26.8 5.15334 29 7.75334 29 13.82V21.82C29 27.3933 27.4933 30.8333 20 30.8333Z"
                                          fill="#1E232C" />
                                  </g>
                              </g>
                          </g>
                      </svg>
                      برنامه تمرینی شما                    
                    </div>
                      <div class="d-flex align-items-center flex-row-reverse ps-4">
                        <p class="m-0 pe-1" style="font-size: 1rem;">آموزش</p><div class="guid_color rounded-3 pe-1" style="background-color: #133675;"></div>
                        <p class="ps-1 m-0" style="font-size: 1rem;">تمرین<div class="guid_color rounded-3 pe-1" style="background-color: #0076CB;"></div></p>
                      </div>
                  </div>
                  <div class="col-12 col-md-5 p-3  show_curriculum justify-content-between align-items-center d-flex">
                      <span dir="rtl" class="p-0">{{subject}}</span>
                      <p dir="rtl" class="d-flex p-0 m-0  align-items-center">نام برنامه  :<span style="font-size: 0.8rem;">{{name_plan}}</span></p>                   
                  </div>
                 </div>
                 <div class="offcanvas-body small">
                  <div class="modal-body">
                      <div class="col-12 header-modal-body flex-row-reverse">
                        <div class=" p-1 time-type"> ساعات </div>
                        <div class="row col-12 d-flex p-2">
                            <div class="col d-flex justify-content-around flex-row-reverse">
                                <div class=" px-1 time-number"> 00 </div>
                                <div class=" px-1 time-number"> 03 </div>
                                <div class=" px-1 time-number"> 06 </div>
                                <div class=" px-1 time-number"> 09 </div>
                                <div class=" px-1 time-number"> 12 </div>
                                <div class=" px-1 time-number"> 15 </div>
                                <div class=" px-1 time-number"> 18 </div>
                                <div class=" px-1 time-number"> 21 </div>
                                <div class=" px-1 time-number"> 24 </div>
                            </div>
                        </div>
                    </div>
                
                    <!-- //////////////// days time//////////////////// -->
                
                    <div class="col-12 body-modal-body mt-3">
                        <div class=" p-3  day-type position-absolute start-0"> شنبه </div>
                        <!-- <div class="d-inline position-absolute">
                            <div class="d-inline-flex justify-content-around px-3">
                                <div class="dividing-line"> </div>
                                <div class="dividing-line"> </div>
                                <div class="dividing-line"> </div>
                                <div class="dividing-line"> </div>
                                <div class="dividing-line"> </div>
                                <div class="dividing-line"> </div>
                                <div class="dividing-line"> </div>
                                <div class="dividing-line"> </div>
                                <div class="dividing-line"> </div>
                            </div>
                        </div> -->
                        <div class="plan_day me-3 me-sm-4 me-md-4 me-lg-5 me-md-5"style="width:80%;" id="plan_day">
                            <div class="div_plan" style="grid-area: p0" id="p0"></div>
                            <div class="div_plan" style="grid-area: p1" id="p1"></div>
                            <div class="div_plan" style="grid-area: p2" id="p2"></div>
                            <div class="div_plan" style="grid-area: p3" id="p3"></div>
                            <div class="div_plan" style="grid-area: p4" id="p4"></div>
                            <div class="div_plan" style="grid-area: p5" id="p5"></div>
                            <div class="div_plan" style="grid-area: p6" id="p6"></div>
                            <div class="div_plan" style="grid-area: p7" id="p7"></div>
                            <div class="div_plan" style="grid-area: p8" id="p8"></div>
                            <div class="div_plan" style="grid-area: p9" id="p9"></div>
                            <div class="div_plan" style="grid-area: p10" id="p10"></div>
                            <div class="div_plan" style="grid-area: p11" id="p11"></div>
                            <div class="div_plan" style="grid-area: p12" id="p12"></div>
                            <div class="div_plan" style="grid-area: p13" id="p13"></div>
                            <div class="div_plan" style="grid-area: p14" id="p14"></div>
                            <div class="div_plan" style="grid-area: p15" id="p15"></div>
                            <div class="div_plan" style="grid-area: p16" id="p16"></div>
                            <div class="div_plan" style="grid-area: p17" id="p17"></div>
                            <div class="div_plan" style="grid-area: p18" id="p18"></div>
                            <div class="div_plan" style="grid-area: p19" id="p19"></div>
                            <div class="div_plan" style="grid-area: p20" id="p20"></div>
                            <div class="div_plan" style="grid-area: p21" id="p21"></div>
                            <div class="div_plan" style="grid-area: p22" id="p22"></div>
                            <div class="div_plan" style="grid-area: p23" id="p23"></div>
                            
                        </div>
                        

                    </div>
                    <div class="col-12 body-modal-body mt-3">
                        <div class=" p-2  day-type position-absolute start-0"> یک شنبه </div>
                        <div class="plan_day me-3 me-sm-4 me-md-4 me-lg-5 me-md-5"style="width:80%;" id="plan_day">
                            <div class="div_plan" style="grid-area: p0" id="sun0"></div>
                            <div class="div_plan" style="grid-area: p1" id="sun1"></div>
                            <div class="div_plan" style="grid-area: p2" id="sun2"></div>
                            <div class="div_plan" style="grid-area: p3" id="sun3"></div>
                            <div class="div_plan" style="grid-area: p4" id="sun4"></div>
                            <div class="div_plan" style="grid-area: p5" id="sun5"></div>
                            <div class="div_plan" style="grid-area: p6" id="sun6"></div>
                            <div class="div_plan" style="grid-area: p7" id="sun7"></div>
                            <div class="div_plan" style="grid-area: p8" id="sun8"></div>
                            <div class="div_plan" style="grid-area: p9" id="sun9"></div>
                            <div class="div_plan" style="grid-area: p10" id="sun10"></div>
                            <div class="div_plan" style="grid-area: p11" id="sun11"></div>
                            <div class="div_plan" style="grid-area: p12" id="sun12"></div>
                            <div class="div_plan" style="grid-area: p13" id="sun13"></div>
                            <div class="div_plan" style="grid-area: p14" id="sun14"></div>
                            <div class="div_plan" style="grid-area: p15" id="sun15"></div>
                            <div class="div_plan" style="grid-area: p16" id="sun16"></div>
                            <div class="div_plan" style="grid-area: p17" id="sun17"></div>
                            <div class="div_plan" style="grid-area: p18" id="sun18"></div>
                            <div class="div_plan" style="grid-area: p19" id="sun19"></div>
                            <div class="div_plan" style="grid-area: p20" id="sun20"></div>
                            <div class="div_plan" style="grid-area: p21" id="sun21"></div>
                            <div class="div_plan" style="grid-area: p22" id="sun22"></div>
                            <div class="div_plan" style="grid-area: p23" id="sun23"></div>
                        </div>
                        
                    </div>
                    <div class="col-12 body-modal-body mt-3">
                        <div class=" p-2  day-type position-absolute start-0"> دوشنبه </div>
                        <div class="plan_day me-3 me-sm-4 me-md-4 me-lg-5 me-md-5"style="width:80%;" id="plan_day">
                            <div class="div_plan" style="grid-area: p0" id="mon0"></div>
                            <div class="div_plan" style="grid-area: p1" id="mon1"></div>
                            <div class="div_plan" style="grid-area: p2" id="mon2"></div>
                            <div class="div_plan" style="grid-area: p3" id="mon3"></div>
                            <div class="div_plan" style="grid-area: p4" id="mon4"></div>
                            <div class="div_plan" style="grid-area: p5" id="mon5"></div>
                            <div class="div_plan" style="grid-area: p6" id="mon6"></div>
                            <div class="div_plan" style="grid-area: p7" id="mon7"></div>
                            <div class="div_plan" style="grid-area: p8" id="mon8"></div>
                            <div class="div_plan" style="grid-area: p9" id="mon9"></div>
                            <div class="div_plan" style="grid-area: p10" id="mon10"></div>
                            <div class="div_plan" style="grid-area: p11" id="mon11"></div>
                            <div class="div_plan" style="grid-area: p12" id="mon12"></div>
                            <div class="div_plan" style="grid-area: p13" id="mon13"></div>
                            <div class="div_plan" style="grid-area: p14" id="mon14"></div>
                            <div class="div_plan" style="grid-area: p15" id="mon15"></div>
                            <div class="div_plan" style="grid-area: p16" id="mon16"></div>
                            <div class="div_plan" style="grid-area: p17" id="mon17"></div>
                            <div class="div_plan" style="grid-area: p18" id="mon18"></div>
                            <div class="div_plan" style="grid-area: p19" id="mon19"></div>
                            <div class="div_plan" style="grid-area: p20" id="mon20"></div>
                            <div class="div_plan" style="grid-area: p21" id="mon21"></div>
                            <div class="div_plan" style="grid-area: p22" id="mon22"></div>
                            <div class="div_plan" style="grid-area: p23" id="mon23"></div>
                        </div>
                        
                    </div>
                    <div class="col-12 body-modal-body mt-3">
                        <div class=" p-2  day-type position-absolute start-0"> سه شنبه </div>
                        <div class="plan_day me-3 me-sm-4 me-md-4 me-lg-5 me-md-5"style="width:80%;" id="plan_day">
                            <div class="div_plan" style="grid-area: p0" id="tue0"></div>
                            <div class="div_plan" style="grid-area: p1" id="tue1"></div>
                            <div class="div_plan" style="grid-area: p2" id="tue2"></div>
                            <div class="div_plan" style="grid-area: p3" id="tue3"></div>
                            <div class="div_plan" style="grid-area: p4" id="tue4"></div>
                            <div class="div_plan" style="grid-area: p5" id="tue5"></div>
                            <div class="div_plan" style="grid-area: p6" id="tue6"></div>
                            <div class="div_plan" style="grid-area: p7" id="tue7"></div>
                            <div class="div_plan" style="grid-area: p8" id="tue8"></div>
                            <div class="div_plan" style="grid-area: p9" id="tue9"></div>
                            <div class="div_plan" style="grid-area: p10" id="tue10"></div>
                            <div class="div_plan" style="grid-area: p11" id="tue11"></div>
                            <div class="div_plan" style="grid-area: p12" id="tue12"></div>
                            <div class="div_plan" style="grid-area: p13" id="tue13"></div>
                            <div class="div_plan" style="grid-area: p14" id="tue14"></div>
                            <div class="div_plan" style="grid-area: p15" id="tue15"></div>
                            <div class="div_plan" style="grid-area: p16" id="tue16"></div>
                            <div class="div_plan" style="grid-area: p17" id="tue17"></div>
                            <div class="div_plan" style="grid-area: p18" id="tue18"></div>
                            <div class="div_plan" style="grid-area: p19" id="tue19"></div>
                            <div class="div_plan" style="grid-area: p20" id="tue20"></div>
                            <div class="div_plan" style="grid-area: p21" id="tue21"></div>
                            <div class="div_plan" style="grid-area: p22" id="tue22"></div>
                            <div class="div_plan" style="grid-area: p23" id="tue23"></div>                            
                        </div>
                        
                    </div>
                    <div class="col-12 body-modal-body mt-3">
                        <div class=" p-2  day-type position-absolute start-0">چهارشنبه</div>
                        <div class="plan_day me-3 me-sm-4 me-md-4 me-lg-5 me-md-5"style="width:80%;" id="plan_day">
                            <div class="div_plan" style="grid-area: p0" id="wed0"></div>
                            <div class="div_plan" style="grid-area: p1" id="wed1"></div>
                            <div class="div_plan" style="grid-area: p2" id="wed2"></div>
                            <div class="div_plan" style="grid-area: p3" id="wed3"></div>
                            <div class="div_plan" style="grid-area: p4" id="wed4"></div>
                            <div class="div_plan" style="grid-area: p5" id="wed5"></div>
                            <div class="div_plan" style="grid-area: p6" id="wed6"></div>
                            <div class="div_plan" style="grid-area: p7" id="wed7"></div>
                            <div class="div_plan" style="grid-area: p8" id="wed8"></div>
                            <div class="div_plan" style="grid-area: p9" id="wed9"></div>
                            <div class="div_plan" style="grid-area: p10" id="wed10"></div>
                            <div class="div_plan" style="grid-area: p11" id="wed11"></div>
                            <div class="div_plan" style="grid-area: p12" id="wed12"></div>
                            <div class="div_plan" style="grid-area: p13" id="wed13"></div>
                            <div class="div_plan" style="grid-area: p14" id="wed14"></div>
                            <div class="div_plan" style="grid-area: p15" id="wed15"></div>
                            <div class="div_plan" style="grid-area: p16" id="wed16"></div>
                            <div class="div_plan" style="grid-area: p17" id="wed17"></div>
                            <div class="div_plan" style="grid-area: p18" id="wed18"></div>
                            <div class="div_plan" style="grid-area: p19" id="wed19"></div>
                            <div class="div_plan" style="grid-area: p20" id="wed20"></div>
                            <div class="div_plan" style="grid-area: p21" id="wed21"></div>
                            <div class="div_plan" style="grid-area: p22" id="wed22"></div>
                            <div class="div_plan" style="grid-area: p23" id="wed23"></div>
                            
                        </div>
                        
                    </div>
                    <div class="col-12 body-modal-body mt-3">
                        <div class=" p-2  day-type position-absolute start-0">پنجشنبه</div>
                        <div class="plan_day me-3 me-sm-4 me-md-4 me-lg-5 me-md-5"style="width:80%;" id="plan_day">
                            <div class="div_plan" style="grid-area: p0" id="thur0"></div>
                            <div class="div_plan" style="grid-area: p1" id="thur1"></div>
                            <div class="div_plan" style="grid-area: p2" id="thur2"></div>
                            <div class="div_plan" style="grid-area: p3" id="thur3"></div>
                            <div class="div_plan" style="grid-area: p4" id="thur4"></div>
                            <div class="div_plan" style="grid-area: p5" id="thur5"></div>
                            <div class="div_plan" style="grid-area: p6" id="thur6"></div>
                            <div class="div_plan" style="grid-area: p7" id="thur7"></div>
                            <div class="div_plan" style="grid-area: p8" id="thur8"></div>
                            <div class="div_plan" style="grid-area: p9" id="thur9"></div>
                            <div class="div_plan" style="grid-area: p10" id="thur10"></div>
                            <div class="div_plan" style="grid-area: p11" id="thur11"></div>
                            <div class="div_plan" style="grid-area: p12" id="thur12"></div>
                            <div class="div_plan" style="grid-area: p13" id="thur13"></div>
                            <div class="div_plan" style="grid-area: p14" id="thur14"></div>
                            <div class="div_plan" style="grid-area: p15" id="thur15"></div>
                            <div class="div_plan" style="grid-area: p16" id="thur16"></div>
                            <div class="div_plan" style="grid-area: p17" id="thur17"></div>
                            <div class="div_plan" style="grid-area: p18" id="thur18"></div>
                            <div class="div_plan" style="grid-area: p19" id="thur19"></div>
                            <div class="div_plan" style="grid-area: p20" id="thur20"></div>
                            <div class="div_plan" style="grid-area: p21" id="thur21"></div>
                            <div class="div_plan" style="grid-area: p22" id="thur22"></div>
                            <div class="div_plan" style="grid-area: p23" id="thur23"></div>
                        </div>
                        
                    </div>
                    <div class="col-12 body-modal-body mt-3">
                        <div class=" p-3  day-type position-absolute start-0">جمعه</div>
                        <div class="plan_day me-3 me-sm-4 me-md-4 me-lg-5 me-md-5"style="width:80%;" id="plan_day">
                            <div class="div_plan" style="grid-area: p0" id="fri0"></div>
                            <div class="div_plan" style="grid-area: p1" id="fri1"></div>
                            <div class="div_plan" style="grid-area: p2" id="fri2"></div>
                            <div class="div_plan" style="grid-area: p3" id="fri3"></div>
                            <div class="div_plan" style="grid-area: p4" id="fri4"></div>
                            <div class="div_plan" style="grid-area: p5" id="fri5"></div>
                            <div class="div_plan" style="grid-area: p6" id="fri6"></div>
                            <div class="div_plan" style="grid-area: p7" id="fri7"></div>
                            <div class="div_plan" style="grid-area: p8" id="fri8"></div>
                            <div class="div_plan" style="grid-area: p9" id="fri9"></div>
                            <div class="div_plan" style="grid-area: p10" id="fri10"></div>
                            <div class="div_plan" style="grid-area: p11" id="fri11"></div>
                            <div class="div_plan" style="grid-area: p12" id="fri12"></div>
                            <div class="div_plan" style="grid-area: p13" id="fri13"></div>
                            <div class="div_plan" style="grid-area: p14" id="fri14"></div>
                            <div class="div_plan" style="grid-area: p15" id="fri15"></div>
                            <div class="div_plan" style="grid-area: p16" id="fri16"></div>
                            <div class="div_plan" style="grid-area: p17" id="fri17"></div>
                            <div class="div_plan" style="grid-area: p18" id="fri18"></div>
                            <div class="div_plan" style="grid-area: p19" id="fri19"></div>
                            <div class="div_plan" style="grid-area: p20" id="fri20"></div>
                            <div class="div_plan" style="grid-area: p21" id="fri21"></div>
                            <div class="div_plan" style="grid-area: p22" id="fri22"></div>
                            <div class="div_plan" style="grid-area: p23" id="fri23"></div>
                        </div>
                        
                    </div>
                    <button class=" d-flex border-0 bg-transparent  mt-4 align-content-center align-items-center flex-row-reverse justify-content-end"  data-bs-dismiss="offcanvas" aria-label="Close">
                      <p class=" m-0 me-2">بازگشت به داشبورد</p>  
  
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" class="col-2" height="24" viewBox="0 0 24 24" fill="none">
                          <g id="vuesax/outline/arrow-circle-left">
                              <g id="vuesax/outline/arrow-circle-left_2">
                                  <g id="arrow-circle-left">
                                      <path id="Vector"
                                          d="M12 22.75C6.07 22.75 1.25 17.93 1.25 12C1.25 6.07 6.07 1.25 12 1.25C17.93 1.25 22.75 6.07 22.75 12C22.75 17.93 17.93 22.75 12 22.75ZM12 2.75C6.9 2.75 2.75 6.9 2.75 12C2.75 17.1 6.9 21.25 12 21.25C17.1 21.25 21.25 17.1 21.25 12C21.25 6.9 17.1 2.75 12 2.75Z"
                                          fill="#646A74" />
                                      <path id="Vector_2"
                                          d="M13.2599 16.28C13.0699 16.28 12.8799 16.21 12.7299 16.06L9.19992 12.53C8.90992 12.24 8.90992 11.76 9.19992 11.47L12.7299 7.94003C13.0199 7.65003 13.4999 7.65003 13.7899 7.94003C14.0799 8.23003 14.0799 8.71003 13.7899 9.00003L10.7899 12L13.7899 15C14.0799 15.29 14.0799 15.77 13.7899 16.06C13.6499 16.21 13.4599 16.28 13.2599 16.28Z"
                                          fill="#646A74" />
                                  </g>
                              </g>
                          </g>
                      </svg>
                    </button>
  
                    </div>
  
                 </div>
               </div>
               
               </div>
