<style>
    .menu{
        height: auto;
    }
    .time-type-add d-flex justify-content-end align-items-center{
text-align: right;
font-family: Inter;
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: 125%;
    }
</style>

<div class="paretnt mt-4"ng-app="select_app" ng-controller='select_app'>
  <div
    class="row title_languages_programing d-flex flex-column p-1 m-1 m-md-0 flex-md-nowrap flex-md-row-reverse justify-content-md-between align-items-md-center flex-row-reverse"
  >
    <p class="my-2 px-0 ms-0">:نام برنامه</p>
    <input id="search_learn" ng-model="name_learn"
      type="text"
      class="d-inline text-end m-auto p-3 me-1 col-12 col-md-9 ms-md-0 col-lg-9 ng-pristine ng-untouched ng-valid ng-empty"
      placeholder="مثال: برنامه آموزشی طراحی وب"
    />
  </div>
  <p class="col-12 d-flex p-1 mt-1 flex-row-reverse">
    زبان مد نظر خود را انتخاب کنید
  </p>
  <button class="btn btn-primary opacity-0" id="click_model" data-bs-target="#exampleModalToggle" data-bs-toggle="modal">
    <!-- <img src="download.png" alt=""> -->
</button>
  <div class="languages_programing_box  justify-content-sm-end" style="margin-bottom: 10rem;" >
    <!-- <div class="card_big"></div> -->
    <div class="card_small c1" style="grid-area: c1"  ng-dblclick="click('اموزش برنامه نویسی MATLAB')">
      <img src="./dist/image/matlab.png" alt="">
      <p>MATLAB</p>
    </div>
    <div class="card_small c2" style="grid-area: c2" ng-dblclick="click('اموزش مینی دوره node js')">
      <img src="./dist/image/icons8-nodejs-480.png" alt="">
    </div>
    <div class="card_small c3" style="grid-area: c3" ng-dblclick="click('اموزش مینی دوره Typescript')">
        <img src="./dist/image/typescript.png" alt="" >
    </div>
    <div class="card_small c4" style="grid-area: c4"ng-dblclick="click('اموزش مینی دوره Flutter')"><img src="./dist/image/icons8-flutter-480.png" alt="" ></div>
    <div class="card_small c5" style="grid-area: c5"ng-dblclick="click('اموزش مینی دوره css')"><img src="./dist/image/icons8-css-480.png" alt="" ></div>
    <div class="card_small c6" style="grid-area: c6"ng-dblclick="click('اموزش برنامه نویسی پایتون')"><img src="./dist/image/icons8-html-5-480 (2).png" alt="" ></div>
    <div class="card_small c7" style="grid-area: c7"ng-dblclick="click('اموزش کل مباحث html')"><img src="./dist/image/icons8-html-5-480 (3).png" alt="" ></div>
    <div class="card_small c8" style="grid-area: c8"ng-dblclick="click('دوره vue')"><img src="./dist/image/vue.png" alt="" ></div>
    <div class="card_small c9" style="grid-area: c9"ng-dblclick="click('دوره پروژه محوره angularjs')"><img src="./dist/image/angularjs.png" alt="" ></div>
    <div class="card_small c10" style="grid-area: c10" ng-dblclick="click('دوره جامع javascript')"><img src="./dist/image/icons8javascript-big-480 (4).png" alt="" ><p>javascript</p></div>
    <div class="card_small c11" style="grid-area: c11"ng-dblclick="click('دوره مبتدی تا پیشرفته bootstrap')"><img src="./dist/image/bootstrap.png" alt="" > </div>
    <div class="card_small c12" style="grid-area: c12"ng-dblclick="click('اموزش مباحث مورد نیاز c#')"><img src="./dist/image/csharp.png" alt="" > </div>
    <div class="card_small c13" style="grid-area: c13"ng-dblclick="click('اموزش کامل مباحث شی گرایی java')"><img src="./dist/image/java.png" alt="" > </div>
    <div class="card_small c14" style="grid-area: c14"ng-dblclick="click('مینی دوره مباحث php')"><img src="./dist/image/png-transparent-php-logos-and-brands-icon.png" alt="" > </div>
    <div class="card_small c15" style="grid-area: c15"ng-dblclick="click('اموزش دروه tailwindcss')"><img src="./dist/image/tailwind.png" alt="" > </div>
    <!-- <div class="card_small c16" style="grid-area: c16"></div>
    <div class="card_small c18" style="grid-area: c18"></div>
    <div class="card_small c17" style="grid-area: c17"></div>
    <div class="card_small c19" style="grid-area: c19"></div>
    <div class="card_small c20" style="grid-area: c20"></div>
    <div class="card_small c10" style="grid-area: c21"></div>
    <div class="card_small c11" style="grid-area: c22"></div>
    <div class="card_small c12" style="grid-area: c23"></div>
    <div class="card_small c13" style="grid-area: c23"></div>
    <div class="card_small c14" style="grid-area: c24"></div>
    <div class="card_small c15" style="grid-area: c25"></div>
    <div class="card_small c16" style="grid-area: c26"></div>
    <div class="card_small c17" style="grid-area: c27"></div>
    <div class="card_small c18" style="grid-area: c28"></div>
    <div class="card_small c19" style="grid-area: c29"></div>
    <div class="card_small c20" style="grid-area: c30"></div>
    <div class="card_small c20" style="grid-area: c31"></div>
    <div class="card_small c20" style="grid-area: c32"></div>
    
    <div class="card_small c20" style="grid-area: c33"></div> -->
  </div>
  
  <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel"
  tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
          <div class="modal-header justify-content-center py-4\">
              <h1 class="modal-title" id="exampleModalToggleLabel"> در هفته چه زمان هایی وقت خالی دارید؟ </h1>
          </div>
          <div class="modal-body">
              <div class="col-12 header-modal-body justify-content-center">
                <div class=" col-12 d-flex flex-nowrap flex-row-reverse">
                    <div class=" me-3 p-0 time-type-add">ساعات</div>
                    <div class="col-10 d-flex justify-content-between flex-row-reverse">
                        <div class=" px-1 time-number"> 00 </div>
                        <div class=" px-1 time-number"> 03 </div>
                        <div class=" px-1 time-number"> 06 </div>
                        <div class=" px-1 time-number"> 09 </div>
                        <div class=" px-1 time-number"> 12 </div>
                        <div class=" px-1 time-number"> 15 </div>
                        <div class=" px-1 time-number"> 18 </div>
                        <div class=" px-1 time-number"> 21 </div>
                        <div class=" px-1 time-number"> 24 </div>
                    </div>
                </div>
            </div>

              <div class="col-12 mt-2  body-modal-body justify-content-center">
                  <div class=" col-12 d-flex flex-nowrap flex-row-reverse">
                      <div class="me-3 p-0 time-type-add d-flex justify-content-end align-items-center"> شنبه </div>
                      <div class="col-9 d-flex ms-2 ms-sm-3 justify-content-between flex-row-reverse div-checkbox">
                          <div class="px-0 px-md-1 time-check">
                              <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="" id="saturday1">
                                  <label for="saturday1"></label>
                              </div>
                          </div>
                          <div class="px-0 px-md-1 time-check">
                              <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="" id="saturday2">
                                  <label for="saturday2"></label>

                              </div>
                          </div>
                          <div class="px-0 px-md-1 time-check">
                              <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="" id="saturday3">
                                  <label for="saturday3"></label>

                              </div>
                          </div>

                          <div class="px-0 px-md-1 time-check">
                              <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="" id="saturday4">
                                  <label for="saturday4"></label>

                              </div>
                          </div>
                          <div class="px-0 px-md-1 time-check">
                              <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="" id="saturday5">
                                  <label for="saturday5"></label>

                              </div>
                          </div>
                          <div class="px-0 px-md-1 time-check">
                              <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="" id="saturday6">
                                  <label for="saturday6"></label>

                              </div>
                          </div>
                          <div class="px-0 px-md-1 time-check">
                              <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="" id="saturday7">
                                  <label for="saturday7"></label>
                              </div>
                          </div>
                          <div class="px-0 px-md-1 time-check">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="saturday8">
                                <label for="saturday8"></label>
                            </div>
                        </div>
                      </div>
                  </div>
              </div>

              <div class="col-12 mt-2  body-modal-body justify-content-center">
                  <div class="col-12 d-flex flex-nowrap flex-row-reverse">
                      <div class="me-2 me-sm-0 p-0 time-type-add d-flex justify-content-end align-items-center taller-datatime"> یکشنبه </div>
                      <div class="col-9 d-flex ms-2 ms-sm-3 justify-content-between flex-row-reverse div-checkbox">
                        <div class="px-0 px-md-1 time-check">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="sunday1">
                                <label for="sunday1"></label>
                            </div>
                        </div>
                        <div class="px-0 px-md-1 time-check">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="sunday2">
                                <label for="sunday2"></label>
                        
                            </div>
                        </div>
                        <div class="px-0 px-md-1 time-check">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="sunday3">
                                <label for="sunday3"></label>
                        
                            </div>
                        </div>
                        
                        <div class="px-0 px-md-1 time-check">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="sunday4">
                                <label for="sunday4"></label>
                        
                            </div>
                        </div>
                        <div class="px-0 px-md-1 time-check">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="sunday5">
                                <label for="sunday5"></label>
                        
                            </div>
                        </div>
                        <div class="px-0 px-md-1 time-check">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="sunday6">
                                <label for="sunday6"></label>
                        
                            </div>
                        </div>
                        <div class="px-0 px-md-1 time-check">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="sunday7">
                                <label for="sunday7"></label>
                            </div>
                        </div>
                        <div class="px-0 px-md-1 time-check">
                          <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="" id="sunday8">
                              <label for="sunday8"></label>
                          </div>
                        </div>
                      </div>
                  </div>
              </div>

              <div class="col-12 mt-2  body-modal-body justify-content-center">
                  <div class="col-12 d-flex flex-nowrap flex-row-reverse">
                      <div class="me-2 me-sm-0 p-0 time-type-add d-flex justify-content-end align-items-center taller-datatime"> دوشنبه </div>
                      <div class="col-9 d-flex ms-2 ms-sm-3 justify-content-between flex-row-reverse div-checkbox">
                        <div class="px-0 px-md-1 time-check">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="monday1">
                                <label for="monday1"></label>
                            </div>
                        </div>
                        <div class="px-0 px-md-1 time-check">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="monday2">
                                <label for="monday2"></label>
                        
                            </div>
                        </div>
                        <div class="px-0 px-md-1 time-check">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="monday3">
                                <label for="monday3"></label>
                        
                            </div>
                        </div>
                        
                        <div class="px-0 px-md-1 time-check">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="monday4">
                                <label for="monday4"></label>
                        
                            </div>
                        </div>
                        <div class="px-0 px-md-1 time-check">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="monday5">
                                <label for="monday5"></label>
                        
                            </div>
                        </div>
                        <div class="px-0 px-md-1 time-check">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="monday6">
                                <label for="monday6"></label>
                        
                            </div>
                        </div>
                        <div class="px-0 px-md-1 time-check">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="monday7">
                                <label for="monday7"></label>
                            </div>
                        </div>
                        <div class="px-0 px-md-1 time-check">
                          <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="" id="monday8">
                              <label for="monday8"></label>
                          </div>
                        </div>
                      </div>
                  </div>
              </div>

              <div class="col-12 mt-2  body-modal-body justify-content-center">
                  <div class="col-12 d-flex flex-nowrap flex-row-reverse">
                      <div class="me-1 me-sm-0 p-0 time-type-add d-flex justify-content-end align-items-center taller-datatime"> سه‌شنبه </div>
                      <div class="col-9 d-flex ms-2 justify-content-between flex-row-reverse div-checkbox div-checkbox_tuesday">
                        <div class="px-0 px-md-1 time-check">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="tuesday1">
                                <label for="tuesday1"></label>
                            </div>
                        </div>
                        <div class="px-0 px-md-1 time-check">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="tuesday2">
                                <label for="tuesday2"></label>
                        
                            </div>
                        </div>
                        <div class="px-0 px-md-1 time-check">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="tuesday3">
                                <label for="tuesday3"></label>
                        
                            </div>
                        </div>
                        
                        <div class="px-0 px-md-1 time-check">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="tuesday4">
                                <label for="tuesday4"></label>
                        
                            </div>
                        </div>
                        <div class="px-0 px-md-1 time-check">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="tuesday5">
                                <label for="tuesday5"></label>
                        
                            </div>
                        </div>
                        <div class="px-0 px-md-1 time-check">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="tuesday6">
                                <label for="tuesday6"></label>
                        
                            </div>
                        </div>
                        <div class="px-0 px-md-1 time-check">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="tuesday7">
                                <label for="tuesday7"></label>
                            </div>
                        </div>
                        <div class="px-0 px-md-1 time-check">
                          <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="" id="tuesday8">
                              <label for="tuesday8"></label>
                          </div>
                        </div>
                      </div>
                  </div>
              </div>

              <div class="col-12 mt-2  body-modal-body justify-content-center">
                  <div class="col-12 d-flex flex-nowrap flex-row-reverse">
                      <div class="me-0 me-md-1 me-sm-0 p-0 time-type-add d-flex justify-content-end align-items-center taller-datatime"> چهارشنبه </div>
                      <div class="col-9 d-flex ms-1  justify-content-between flex-row-reverse div-checkbox div-checkbox_wednesday">
                        <div class="px-0 px-md-1 time-check">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="wednesday1">
                                <label for="wednesday1"></label>
                            </div>
                        </div>
                        <div class="px-0 px-md-1 time-check">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="wednesday2">
                                <label for="wednesday2"></label>
                        
                            </div>
                        </div>
                        <div class="px-0 px-md-1 time-check">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="wednesday3">
                                <label for="wednesday3"></label>
                        
                            </div>
                        </div>
                        
                        <div class="px-0 px-md-1 time-check">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="wednesday4">
                                <label for="wednesday4"></label>
                        
                            </div>
                        </div>
                        <div class="px-0 px-md-1 time-check">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="wednesday5">
                                <label for="wednesday5"></label>
                        
                            </div>
                        </div>
                        <div class="px-0 px-md-1 time-check">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="wednesday6">
                                <label for="wednesday6"></label>
                        
                            </div>
                        </div>
                        <div class="px-0 px-md-1 time-check">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="wednesday7">
                                <label for="wednesday7"></label>
                            </div>
                        </div>
                        <div class="px-0 px-md-1 time-check">
                          <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="" id="wednesday8">
                              <label for="wednesday8"></label>
                          </div>
                        </div>
                      </div>
                  </div>
              </div>

              <div class="col-12 mt-2  body-modal-body justify-content-center">
                  <div class="col-12 d-flex flex-nowrap flex-row-reverse">
                      <div class="me-1 me-sm-0 p-0 time-type-add d-flex justify-content-end align-items-center taller-datatime"> پنجشنبه </div>
                      <div class="col-9 d-flex ms-2  justify-content-between flex-row-reverse div-checkbox div-checkbox_thursday">
                        <div class="px-0 px-md-1 time-check">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="thursday1">
                                <label for="thursday1"></label>
                            </div>
                        </div>
                        <div class="px-0 px-md-1 time-check">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="thursday2">
                                <label for="thursday2"></label>
                        
                            </div>
                        </div>
                        <div class="px-0 px-md-1 time-check">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="thursday3">
                                <label for="thursday3"></label>
                        
                            </div>
                        </div>
                        
                        <div class="px-0 px-md-1 time-check">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="thursday4">
                                <label for="thursday4"></label>
                        
                            </div>
                        </div>
                        <div class="px-0 px-md-1 time-check">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="thursday5">
                                <label for="thursday5"></label>
                        
                            </div>
                        </div>
                        <div class="px-0 px-md-1 time-check">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="thursday6">
                                <label for="thursday6"></label>
                        
                            </div>
                        </div>
                        <div class="px-0 px-md-1 time-check">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="thursday7">
                                <label for="thursday7"></label>
                            </div>
                        </div>
                        <div class="px-0 px-md-1 time-check">
                          <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="" id="thursday8">
                              <label for="thursday8"></label>
                          </div>
                        </div>
                      </div>
                  </div>
              </div>

              <div class="col-12 mt-2  body-modal-body justify-content-center">
                  <div class="col-12 d-flex flex-nowrap flex-row-reverse">
                      <div class="me-3 p-0 time-type-add d-flex justify-content-end align-items-center">جمعه</div>
                      <div class="col-9 d-flex ms-2 ms-sm-3 justify-content-between flex-row-reverse div-checkbox div-checkbox_friday ">
                        <div class="px-0 px-md-1 time-check">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="friday1">
                                <label for="friday1"></label>
                            </div>
                        </div>
                        <div class="px-0 px-md-1 time-check">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="friday2">
                                <label for="friday2"></label>
                        
                            </div>
                        </div>
                        <div class="px-0 px-md-1 time-check">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="friday3">
                                <label for="friday3"></label>
                            </div>
                        </div>
                        <div class="px-0 px-md-1 time-check">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="friday4">
                                <label for="friday4"></label>
                            </div>
                        </div>
                        <div class="px-0 px-md-1 time-check">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="friday5">
                                <label for="friday5"></label>
                        
                            </div>
                        </div>
                        <div class="px-0 px-md-1 time-check">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="friday6">
                                <label for="friday6"></label>
                        
                            </div>
                        </div>
                        <div class="px-0 px-md-1 time-check">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="friday7">
                                <label for="friday7"></label>
                            </div>
                        </div>
                        <div class="px-0 px-md-1 time-check">
                          <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="" id="friday8">
                              <label for="friday8"></label>
                          </div>
                        </div>
                      </div>
                  </div>
              </div>
          </div>
              <!--  ng-click="accepet_timetable()"  -->
          <div class="modal-footer justify-content-start">
              <button  ng-click="disChoies_timetable()" class="btn btn-danger Cancel-button" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal"> لغو </button>
              <button ng-click="send_timetable()" class="btn btn-success Program-registration" >ثبت برنامه </button>
          </div>
      </div>
  </div>
</div>
  <div class="col-12 d-flex flex-row-reverse">
    <div class="alert m-auto alert-primary alert-dismissible fade show" role="alert" style="position: fixed; bottom:1rem;font-size: 0.7rem;" >
     ! لطفا برای انتخاب برنامه مورد نظر خود دوبار کلیک کنید
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  </div>

  
</div>
