<style>
    .menu{
        height: auto;
    }
    .time-type-add{
text-align: right;
font-family: Inter;
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: 125%;
    }
</style>

<div class="paretnt mt-4"ng-app="select_app" ng-controller='select_app'>
  <div
    class="row title_languages_programing d-flex flex-column p-1 m-1 m-md-0 flex-md-nowrap flex-md-row-reverse justify-content-md-between align-items-md-center flex-row-reverse"
  >
    <p class="my-2 px-0 ms-0">:نام برنامه</p>
    <input id="search_learn" ng-model="name_learn"
      type="text"
      class="d-inline text-end m-auto p-3 me-1 col-12 col-md-9 ms-md-0 col-lg-9 ng-pristine ng-untouched ng-valid ng-empty"
      placeholder="مثال: برنامه آموزشی طراحی وب"
    />
  </div>
  <p class="col-12 d-flex p-1 mt-1 flex-row-reverse">
    زبان مد نظر خود را انتخاب کنید
  </p>
  <button class="btn btn-primary opacity-0" id="click_model" data-bs-target="#exampleModalToggle" data-bs-toggle="modal">
    <!-- <img src="download.png" alt=""> -->
</button>
  <div class="languages_programing_box  justify-content-sm-end" style="margin-bottom: 10rem;" >
    <!-- <div class="card_big"></div> -->
    <div class="card_small c1 noborder" style="grid-area: c1"  ng-class="Html"  ng-click="click('اموزش برنامه نویسی html')">
      <img src="./dist/image/icons8-html-5-480.png" alt="">
      <p ng-model="name">Html</p>
    </div>
    <div class="card_small c2 noborder" style="grid-area: c2" ng-class="nodejs" ng-click="click('اموزش مینی دوره node js')">
      <img src="./dist/image/icons8-nodejs-480.png" alt="" style="width: auto;">
    </div>
    <div class="card_small c3" style="grid-area: c3"></div>
    <div class="card_small c4" style="grid-area: c4"></div>
    <div class="card_small c5" style="grid-area: c5"></div>
    <div class="card_small c6" style="grid-area: c6"></div>
    <div class="card_small c7" style="grid-area: c7"></div>
    <div class="card_small c8" style="grid-area: c8"></div>
    <div class="card_small c9" style="grid-area: c9"></div>
    <div class="card_small c10" style="grid-area: c10"></div>
    <div class="card_small c11" style="grid-area: c11"></div>
    <div class="card_small c12" style="grid-area: c12"></div>
    <div class="card_small c13" style="grid-area: c13"></div>
    <div class="card_small c14" style="grid-area: c14"></div>
    <div class="card_small c15" style="grid-area: c15"></div>
    <div class="card_small c16" style="grid-area: c16"></div>
    <div class="card_small c17" style="grid-area: c17"></div>
    <div class="card_small c18" style="grid-area: c18"></div>
    <div class="card_small c19" style="grid-area: c19"></div>
    <div class="card_small c20" style="grid-area: c20"></div>
    <div class="card_small c10" style="grid-area: c21"></div>
    <div class="card_small c11" style="grid-area: c22"></div>
    <div class="card_small c12" style="grid-area: c23"></div>
    <div class="card_small c13" style="grid-area: c23"></div>
    <div class="card_small c14" style="grid-area: c24"></div>
    <div class="card_small c15" style="grid-area: c25"></div>
    <div class="card_small c16" style="grid-area: c26"></div>
    <div class="card_small c17" style="grid-area: c27"></div>
    <div class="card_small c18" style="grid-area: c28"></div>
    <div class="card_small c19" style="grid-area: c29"></div>
    <div class="card_small c20" style="grid-area: c30"></div>
    <div class="card_small c20" style="grid-area: c31"></div>
    <div class="card_small c20" style="grid-area: c32"></div>
    
    <div class="card_small c20" style="grid-area: c33"></div>
  </div>
  
  <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel"
  tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
          <div class="modal-header justify-content-center py-4\">
              <h1 class="modal-title" id="exampleModalToggleLabel"> در هفته چه زمان هایی وقت خالی دارید؟ </h1>
          </div>
          <div class="modal-body">
              <!--  -->
              <div class="col-12 header-modal-body justify-content-center">
                  <div class="row col-12 d-flex flex-nowrap flex-row-reverse">
                      <div class="col-2 me-3 p-0 time-type-add">: ساعات</div>
                      <div class="col-10 d-flex justify-content-between flex-row-reverse">
                          <div class=" px-1 time-number"> 00 </div>
                          <div class=" px-1 time-number"> 03 </div>
                          <div class=" px-1 time-number"> 06 </div>
                          <div class=" px-1 time-number"> 09 </div>
                          <div class=" px-1 time-number"> 12 </div>
                          <div class=" px-1 time-number"> 15 </div>
                          <div class=" px-1 time-number"> 18 </div>
                          <div class=" px-1 time-number"> 21 </div>
                          <div class=" px-1 time-number"> 24 </div>
                      </div>
                  </div>
              </div>

              <div class="col-12 mt-2 py-3 body-modal-body justify-content-center">
                  <div class="row col-12 d-flex flex-nowrap flex-row-reverse">
                      <div class="col-2 me-3 p-0 time-type-add"> شنبه </div>
                      <div class="col-9 ms-4 d-flex justify-content-between div-checkbox">
                          <div class="px-1 time-check">
                              <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                              </div>
                          </div>
                          <div class="px-1 time-check">
                              <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                              </div>
                          </div>
                          <div class="px-1 time-check">
                              <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                              </div>
                          </div>
                          <div class="px-1 time-check">
                              <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                              </div>
                          </div>
                          <div class="px-1 time-check">
                              <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                              </div>
                          </div>
                          <div class="px-1 time-check">
                              <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                              </div>
                          </div>
                          <div class="px-1 time-check">
                              <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                              </div>
                          </div>
                          <div class="px-1 time-check">
                              <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                              </div>
                          </div>
                      </div>
                  </div>
              </div>

              <div class="col-12 mt-2 py-3 body-modal-body justify-content-center">
                  <div class="row col-12 d-flex flex-nowrap flex-row-reverse">
                      <div class="col-2 me-3 p-0 time-type-add"> یکشنبه </div>
                      <div class="col-9 ms-4 d-flex justify-content-between div-checkbox">
                          <div class="px-1 time-check">
                              <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                              </div>
                          </div>
                          <div class="px-1 time-check">
                              <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                              </div>
                          </div>
                          <div class="px-1 time-check">
                              <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                              </div>
                          </div>
                          <div class="px-1 time-check">
                              <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                              </div>
                          </div>
                          <div class="px-1 time-check">
                              <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                              </div>
                          </div>
                          <div class="px-1 time-check">
                              <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                              </div>
                          </div>
                          <div class="px-1 time-check">
                              <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                              </div>
                          </div>
                          <div class="px-1 time-check">
                              <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                              </div>
                          </div>
                      </div>
                  </div>
              </div>

              <div class="col-12 mt-2 py-3 body-modal-body justify-content-center">
                  <div class="row col-12 d-flex flex-nowrap flex-row-reverse">
                      <div class="col-2 me-3 p-0 time-type-add"> دوشنبه </div>
                      <div class="col-9 ms-4 d-flex justify-content-between div-checkbox">
                          <div class="px-1 time-check">
                              <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                              </div>
                          </div>
                          <div class="px-1 time-check">
                              <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                              </div>
                          </div>
                          <div class="px-1 time-check">
                              <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                              </div>
                          </div>
                          <div class="px-1 time-check">
                              <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                              </div>
                          </div>
                          <div class="px-1 time-check">
                              <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                              </div>
                          </div>
                          <div class="px-1 time-check">
                              <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                              </div>
                          </div>
                          <div class="px-1 time-check">
                              <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                              </div>
                          </div>
                          <div class="px-1 time-check">
                              <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                              </div>
                          </div>
                      </div>
                  </div>
              </div>

              <div class="col-12 mt-2 py-3 body-modal-body justify-content-center">
                  <div class="row col-12 d-flex flex-nowrap flex-row-reverse">
                      <div class="col-2 me-3 p-0 time-type-add"> سه‌شنبه </div>
                      <div class="col-9 ms-4 d-flex justify-content-between div-checkbox">
                          <div class="px-1 time-check">
                              <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                              </div>
                          </div>
                          <div class="px-1 time-check">
                              <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                              </div>
                          </div>
                          <div class="px-1 time-check">
                              <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                              </div>
                          </div>
                          <div class="px-1 time-check">
                              <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                              </div>
                          </div>
                          <div class="px-1 time-check">
                              <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                              </div>
                          </div>
                          <div class="px-1 time-check">
                              <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                              </div>
                          </div>
                          <div class="px-1 time-check">
                              <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                              </div>
                          </div>
                          <div class="px-1 time-check">
                              <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                              </div>
                          </div>
                      </div>
                  </div>
              </div>

              <div class="col-12 mt-2 py-3 body-modal-body justify-content-center">
                  <div class="row col-12 d-flex flex-nowrap flex-row-reverse">
                      <div class="col-2 me-3 p-0 time-type-add"> چهارشنبه </div>
                      <div class="col-9 ms-4 d-flex justify-content-between div-checkbox">
                          <div class="px-1 time-check">
                              <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                              </div>
                          </div>
                          <div class="px-1 time-check">
                              <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                              </div>
                          </div>
                          <div class="px-1 time-check">
                              <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                              </div>
                          </div>
                          <div class="px-1 time-check">
                              <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                              </div>
                          </div>
                          <div class="px-1 time-check">
                              <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                              </div>
                          </div>
                          <div class="px-1 time-check">
                              <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                              </div>
                          </div>
                          <div class="px-1 time-check">
                              <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                              </div>
                          </div>
                          <div class="px-1 time-check">
                              <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                              </div>
                          </div>
                      </div>
                  </div>
              </div>

              <div class="col-12 mt-2 py-3 body-modal-body justify-content-center">
                  <div class="row col-12 d-flex flex-nowrap flex-row-reverse">
                      <div class="col-2 me-3 p-0 time-type-add"> پنجشنبه </div>
                      <div class="col-9 ms-4 d-flex justify-content-between div-checkbox">
                          <div class="px-1 time-check">
                              <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                              </div>
                          </div>
                          <div class="px-1 time-check">
                              <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                              </div>
                          </div>
                          <div class="px-1 time-check">
                              <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                              </div>
                          </div>
                          <div class="px-1 time-check">
                              <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                              </div>
                          </div>
                          <div class="px-1 time-check">
                              <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                              </div>
                          </div>
                          <div class="px-1 time-check">
                              <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                              </div>
                          </div>
                          <div class="px-1 time-check">
                              <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                              </div>
                          </div>
                          <div class="px-1 time-check">
                              <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                              </div>
                          </div>
                      </div>
                  </div>
              </div>

              <div class="col-12 mt-2 py-3 body-modal-body justify-content-center">
                  <div class="row col-12 d-flex flex-nowrap flex-row-reverse">
                      <div class="col-2 me-3 p-0 time-type-add"> جمعه </div>
                      <div class="col-9 ms-4 d-flex justify-content-between div-checkbox">
                          <div class="px-1 time-check">
                              <div class="form-check script">
                                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                  <span class="geekmark"></span>
                              </div>
                              
                          </div>
                          <div class="px-1 time-check">
                              <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                              </div>
                          </div>
                          <div class="px-1 time-check">
                              <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                              </div>
                          </div>
                          <div class="px-1 time-check">
                              <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                              </div>
                          </div>
                          <div class="px-1 time-check">
                              <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                              </div>
                          </div>
                          <div class="px-1 time-check">
                              <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                              </div>
                          </div>
                          <div class="px-1 time-check">
                              <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                              </div>
                          </div>
                          <div class="px-1 time-check">
                              <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
              <!--  ng-click="accepet_timetable()"  -->
          <div class="modal-footer">
              <button  ng-click="disChoies_timetable()" class="btn btn-danger Cancel-button" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal"> لغو </button>
              <button class="btn btn-success Program-registration" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">ثبت برنامه </button>
          </div>
      </div>
  </div>
</div>
  <div class="col-12 d-flex flex-row-reverse">
    <div class="alert m-auto alert-primary alert-dismissible fade show" role="alert" style="position: fixed; bottom:1rem;font-size: 0.7rem;" >
     ! لطفا برای انتخاب برنامه مورد نظر خود دوبار کلیک کنید
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  </div>

  
</div>
