
    <div class="col-12 d-flex justify-content-center">
        <img src="./dist/image/profile2.png" class="m-auto" alt="" srcset="">
    </div>

   <div class="container" ng-app="Setting" ng-controller="SettingCTR">
        <form class="form d-flex align-items-center flex-column" name="send_setting" ng-model="send_setting" id="send_setting" ng-submit="sendsetting()" novalidate>
            <div class="mt-3 col-12 col-md-7 col-lg-4 text-start">
                <label for="exampleFormControlInput1" class="form-label"><span class="star">*</span>نام و نام خوانوادگی </label>
                <input type="name" class="form-control input_setting text-start p-2"  ng-model="input_name_setting" id="input_name_setting" name="input_name_setting">
            </div>

            <div class="mt-2 col-12 col-md-7 col-lg-4 text-start">
                <label for="exampleFormControlInput1" class="form-label"><span class="star">*</span>نام حساب کاربری</label>
                <input type="text" class="form-control input_setting p-2 "  ng-model="user.input_username_setting" id="input_username_setting" name="input_username_setting">
            </div>

            <div class="mt-2 col-12 col-md-7 col-lg-4 text-start">
                <label for="exampleFormControlInput1" class="form-label"><span class="star">*</span> ایمیل </label>
                <input type="email" ng-pattern= '/^(([^<>()\[\]\.,;:\s@\"]+(\.[^<>()\[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i' name="input_email_setting"  class="form-control p-2 input_setting" ng-model="user.input_email_setting" id="input_email_setting">
            </div>

            <div class="col-auto mt-4 ps-4">
                <input type="submit" ng-disabled="send_setting.$invalid" name="user" class="btn btn-primary px-5 py-3 mb-3 submit-button" value="ثبت مشخصات"></input>
            </div>
        </form>
    
    </form>

    </div>