<!DOCTYPE html>
<html dir="rtl" lang="fa">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./dist/css/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="./dist/css/style.css">
    <title>ثبت نام</title>
</head>
<body >
    
    <div class="container-fluid container-md col-12 d-flex justify-content-center align-content-center align-items-center  ">
        <div class="row d-flex justify-content-center align-items-center p-3">
            <div class="p-0 flex-column flex-wrap  mt-md-0">
                <form action="./Dashboard_base.html#!dashboard" class="form w-100 p-3 " name="Sign_up_form" novalidate ng-controller="Formcontoroller" ng-app="Sign_up_form">
                    <!-- <div class="m-auto col-6"> -->
                        <h1 class="fs-1 h1-element fs-2"><b> سلام! <br> برای ثبت نام شروع کنید . . . </b></h1>
                        <br>
                        <input type="text" class="w-100  border-0 p-4 user-input "ng-model="user.username" name="username" ng-required="true" placeholder=" نام حساب کاربری">
                        <!-- <div ng-show="Sign_up_form.username.$invalid && Sign_up_form.username.$touched" class="d-flex justify-content-center">
                            <span class="text-bg-danger text-center">نام کاربری خود را درست وارد نمایید</span>
                        </div> -->
                        <br>
                        <input type="email" class="w-100 border-0 p-4 password-input mt-3" ng-model="user.email" name="email" ng-required="true" placeholder="ایمیل">
                        <br>
                        <input type="password" class="w-100 border-0 d-block p-4 password-input mt-3"ng-model="user.password" ng-minlength="8"  name="password" ng-required="true" placeholder="رمز عبور">
                        <div ng-show="Sign_up_form.password.$invalid && Sign_up_form.password.$touched" class="d-flex col-12 ">
                            <span class="text-danger mt-1" style="font-size: 0.89rem;">رمز عبور باید بیشتر از هشت کاراکتر باشد</span>
                        </div>
                        <!-- <br> -->
                        <input type="password" class="w-100  border-0 p-4 password-input mt-2"compare-to="user.password"ng-model="user.R_password" name="R_password" ng-required="true" placeholder="تکرار رمز عبور">
                        <button  type="submit" ng-disabled="Sign_up_form.$invalid" class="btn btn-primary w-100 border-0 mt-3 p-2 singup-button"> ثبت نام </button>
                        <h6 class="make-accunt col-11 text-center mt-md-5 ms-md-4" style="margin-top: 2rem !important;"> درحال حاضر حساب کاربری دارید؟ <a href="./Login.html" class="a-make-accont"> ورود حساب </a> </h6>

                    <!-- </div> -->
                </form>
            </div>
        </div>
    </div>
    <script src="./dist/js/Scripts/angular.js"></script>
    <script src="./dist/js/Scripts/angular-route.js"></script>
    <script src="./dist/js/Script.js"></script>
</body>
</html>